@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
  --hover-gradient: linear-gradient(90deg, #006aff, #00cfff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

nav {
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

nav.scrolled {
  background-color: rgba(15, 16, 22, 0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav h3 {
  justify-content: flex-start;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  transition: color 0.3s ease-in-out;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--hover-gradient);
  transition: width 0.3s ease-in-out;
}

nav a:hover {
  color: var(--accent-color);
}

nav a:hover::after {
  width: 100%;
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

@media(max-width: 450px) {
  .links-container {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked~.links-container {
    right: 0;
  }
  #sidebar-active:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}